# Ignore node modules - they'll be installed inside the container
node_modules

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Build output
dist
build

# Local environment config
.env
.env.* 

# OS & IDE files
.DS_Store
Thumbs.db
.vscode
.idea

# Docker-related
Dockerfile
docker-compose*
.dockerignore

# Git files
.git
.gitignore
